address, article, aside, blockquote, body, cite,
div, dl, dt, dd, em, figcaption, figure, footer,
h1, h2, h3, h4, h5, h6, header, html, main, img, li,
nav, section, ul, span, ol, p {
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

nav ul {
    list-style: none;
    list-style-image: none;
}

nav a {
    text-decoration: none;
}

blockquote a {
    text-decoration: none;
}

html {
    height: 100%;
}

body {
    line-height: 1;
    width: 95%;
    min-width: 640px;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
}

body > header > img {
    display: block;
    width: 100%;
}

body > header {
    height: 50%;
}

div {
    height: 40px;
    display: table-cell;
    vertical-align: middle;
}

h1 {
    font-size: 1.4em;
    line-height: 2em;
}

@font-face {
    font-family: Pricedown;
    src: url(pricedown_bl.otf);
}

h3 {
    font-size: 3.5em;
    line-height: 2.5em;
    font-family: Pricedown;
}

body > header nav li{
    width: 10%;
    background-color: black;
}

header > nav a {
    width: 100%;
    color: white;
    padding: 5px;
}