* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    position:relative;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: ghostwhite;
}

@font-face {
    font-family: Pricedown;
    src: url(pricedown_bl.otf);
}

h1 {
    font-size: 2.5em;
    font-family: Pricedown;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: ghostwhite;
    text-decoration: none;
    font-size: 13px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 a {
    color: ghostwhite;
    text-decoration: none;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: goldenrod;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}